<app-header></app-header>
<div class="container">
    <div class="row" style="margin-top: 0px">
        <h1>Personagens</h1>
    </div>

    <div class="row">
        <div class="col-sm-4" *ngFor="let personagem of personagens">
            <div class="card card-item">
                <div class="card-body">
                    <h5 class="card-title">{{'Nome: '+ personagem.name}}</h5>
                     <p class="card-text">{{'Altura: ' +personagem.height}}<br>{{'Peso: '+ personagem.mass}}<br></p>
                    <br>
                    <div class="link-detalhar">
                        <a class="" (click)="detalheModal(personagem)">Detalhe</a>
                    </div> 
            </div>
        </div>

    </div>

    
</div>