

.card-item{
    border: 1px solid #48D1CC;
    margin: 10px 0;
}
.link-detalhar{
    cursor: pointer;
    text-decoration: underline !important;
    color: blue;
    &:hover{
        text-decoration: underline;
        color: #48D1CC;
        width: auto;
    }
}