<div class="modal-header">
  <h4 class="modal-title">{{'Nome ' + personagem.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="ativarModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{'Altura ' + personagem.height}}</p>
  <p>{{'Peso: '+personagem.mass}}</p> 
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="ativarModal.close('Close click')">Ok</button>
</div>